@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
@RenderSection("BreadCrumb", required: false)

<div class="shopify-grid padding-large">
    <div class="container">
        <div class="row">
            <section id="selling-products" class="col-md-9 product-store">
                <div class="container">
                    @await Component.InvokeAsync("MenuLoaiHangHoa", new { viewType = "MenuLoaiHangHoa" })

                    <div class="tab-content">
                        <div id="all" data-tab-content class="active">
                            <div class="row d-flex flex-wrap">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                    <nav class="navigation paging-navigation text-center padding-medium" role="navigation">
                        <div class="pagination loop-pagination d-flex justify-content-center">
                            <a href="#" class="pagination-arrow d-flex align-items-center">
                                <i class="icon icon-arrow-left"></i>
                            </a>
                            <span aria-current="page" class="page-numbers current">1</span>
                            <a class="page-numbers" href="#">2</a>
                            <a class="page-numbers" href="#">3</a>
                            <a href="#" class="pagination-arrow d-flex align-items-center">
                                <i class="icon icon-arrow-right"></i>
                            </a>
                        </div>
                    </nav>
                </div>
            </section>

            <aside class="col-md-3">
                <div class="sidebar">
                    <div class="widgets widget-menu">
                        <div class="widget-search-bar">
                            <form asp-action="Search" asp-controller="HangHoa" method="post" role="search" class="d-flex">
                                <input class="search-field" placeholder="Tìm kiếm" type="text" name="searchString">
                                <button class="btn btn-dark"><i class="icon icon-search"></i></button>
                            </form>
                        </div>
                    </div>
                    <div class="widgets widget-product-tags">
                        <h5 class="widget-title">Tags</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                <a href="">White</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Cheap</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Branded</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Modern</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Simple</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widgets widget-product-brands">
                        <h5 class="widget-title">Brands</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                <a href="">Nike</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Adidas</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Puma</a>
                            </li>
                            <li class="tags-item">
                                <a href="">Spike</a>
                            </li>
                        </ul>
                    </div>
                    <div class="widgets widget-price-filter">
                        <h5 class="widget-title">Filter By Price</h5>
                        <ul class="product-tags sidebar-list list-unstyled">
                            <li class="tags-item">
                                <a href="">Less than $10</a>
                            </li>
                            <li class="tags-item">
                                <a href="">$10- $20</a>
                            </li>
                            <li class="tags-item">
                                <a href="">$20- $30</a>
                            </li>
                            <li class="tags-item">
                                <a href="">$30- $40</a>
                            </li>
                            <li class="tags-item">
                                <a href="">$40- $50</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </aside>

        </div>
    </div>
</div>